OPENRELIK_API_URL=http://localhost:8710
OPENRELIK_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI3Yjc5NjVmNzhmZjU0NDVjODIxMzRhMmM5YWIwOTExMCIsImlhdCI6MTc1MDc2Mjg0MiwibmJmIjoxNzUwNzYyODQyLCJleHAiOjE3NTEzNjc2NDIsImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3Q6ODcxMCIsImF1ZCI6ImFwaS1jbGllbnQiLCJqdGkiOiI0NzI5N2MzYTI3MjA0OWU1OGMxNGRhMjZmZjcwN2RkNSIsInRva2VuX3R5cGUiOiJyZWZyZXNoIn0.mvmV9vNpw3VTWZzOagm_-MMAgAZsEQunMeASiWqjLPA